{% extends "base.html" %}

{% block title %}{{ record.title }} Details{% endblock %}

{% block content %}
<a href="/" class="button p-2" style="background-color: grey; text-decoration: none; color: black; font-weight: 600;
    border-radius: 5px;">Back</a>
    <br />
    <br />
<div id="media-details" class="card p-4 shadow-sm">
    <h2 class="mb-3">{{ record.title }} Details</h2>

    <h6 class="mb-4 id-modal" style="color: #C57B57 !important;">
        <div style="color: #C57B57 !important;">Id:</div> {{ record.show_id }}
    </h6>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <p id="description" class="form-control-plaintext">
            {{ record.description }}
        </p>
    </div>

    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="year" class="form-label">Release Year</label>
            <input id="year" class="form-control" value="{{ record.release_year }}" readonly>
        </div>

        <div class="mb-3 col-md-4">
            <label for="type" class="form-label">Type</label>
            <input id="type" class="form-control" value="{{ record.type }}" readonly>
        </div>

        <div class="mb-3 col-md-4">
            <label for="age_rating" class="form-label">Age Rating</label>
            <input id="age_rating" class="form-control" value="{{ record.age_rating }}" readonly>
        </div>
    </div>

    <div class="mb-3">
        <label for="director" class="form-label">Director(s)</label>
        <input id="director" class="form-control" value="{{ record.director }}" readonly>
    </div>

    <div class="mb-3">
        <label for="duration" class="form-label">Duration</label>
        <input id="duration" class="form-control" value="{{ record.duration }}" readonly>
    </div>

    <div class="mb-3">
        <label for="cast" class="form-label">Cast</label>
        <textarea id="cast" class="form-control" rows="4" readonly>{{ record.cast }}</textarea>
    </div>

    <div class="row">
        <div class="mb-3 col-md-6">
            <label for="genre" class="form-label">Genre(s)</label>
            <input id="genre" class="form-control" value="{{ record.listed_in }}" readonly>
        </div>

        <div class="mb-3 col-md-6">
            <label for="country" class="form-label">Countries</label>
            <input id="country" class="form-control" value="{{ record.country }}" readonly>
        </div>
    </div>

    <div class="mb-3">
        <label for="date_added" class="form-label">Date Added</label>
        <input id="date_added" class="form-control" value="{{ record.date_added }}" readonly>
    </div>
</div>
{% endblock %}
