{% extends "base.html" %}

{% block title %}Movie & TV Show Database{% endblock %}

{% block content %}

<a href="/analytics/" class="button p-2" style="background-color: grey; text-decoration: none; color: black; font-weight: 600;
border-radius: 5px;">View Analytics</a>

<a href="/details/r/" class="button p-2" style="background-color: grey; text-decoration: none; color: black; font-weight: 600;
border-radius: 5px;">Mystery Movie</a>

<div id="search">
    {% include 'search.html' %}
</div>
{% endblock %}
